[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rGrSPTT"]
	path = rGrSPTT
	url = https://github.com/cran/rGrSPTT
[submodule "rReGSPTT"]
	path = rReGSPTT
	url = https://github.com/cran/rReGSPTT
[submodule "rSSP"]
	path = rSSP
	url = https://github.com/cran/rSSP
